<div class='border-t border-gray-600 sm:mx-32 opacity-25 border-solid'></div>
<h2 class='text-main-orange font-bold pt-4 pb-5 mb-5 mx-auto text-left text-xl'><%= spot.store_name %></h2>
<div>
  <% if spot.image.present? %>
    <%= image_tag spot.image, class: 'w-100 h-50 mb:w-1/2 md:h-screen mx-auto rounded-lg object-cover' %>
  <% else %>
    <%= image_tag('sample.jpeg', class: 'w-100 h-50 rounded-lg object-cover') %>
  <% end %>
</div>
<p class='pt-4 pb-5 mb-5 mx-auto'><%= spot.introduction %></p>
<div class='border-t border-gray-600 sm:mx-32 opacity-25 border-dotted'></div>
<p class='pt-4 pb-5 mb-5 mx-auto'>住所:<br>
  <% if spot.address.present? %>
    <%= address_processing(spot.address) %>
  <% end %>
</p>
<p class='pt-4 pb-5 mb-5 mx-auto break-words'>サイトURL:<br>
  <% if spot.site_url == 'undefined' %>
    <%= 'URLがありません。' %>
  <% else %>
    <%= link_to spot.site_url, spot.site_url, class: 'text-accent-blue hover:opacity-50', target: '_blank' %>
  <% end %>
</p>