<%= content_for(:title, t('.title')) %>
<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <h1 class='text-accent-blue font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= t('.title') %></h1>
  <div class='text-center'>
    <div>
      <% if current_user.profile_image&.avatar&.attached? %>
        <%= image_tag(current_user.profile_image.avatar, class: 'my-0 mx-auto w-32 h-32 rounded-full object-cover') %>
      <% else %>
        <%= image_tag('profile_sample.png', class: 'my-0 mx-auto w-32 h-32 rounded-full object-cover') %>
      <% end %>
      <span class='pl-1'><%= current_user.name %></span>
    </div>
    <% if current_user.provider != 'line' %>
      <p class='pt-10 mb-10'><%= current_user.email %></p>
    <% end %>
    <div class='pt-10 mb-10'>
      <%= link_to t('.edit_button'), edit_profile_path, class: 'btn bg-accent-blue text-white px-20 hover:bg-accent-blue hover:opacity-50' %>
    </div>
    <% if current_user.provider != 'line' %>
      <%= link_to email_edit_profile_path, class:'text-accent-blue font-bold hover:opacity-75' do %>
        <p class='pt-10 mb-10'>メールアドレスの変更はこちら →</p>
      <% end %>
    <% end %>
    <div class='pt-10 mb-20'>
      <%= link_to t('.unsubscribe_button'), user_registration_path(@user), data: { turbo_method: :delete, turbo_confirm: t('.deleting_confirmation') }, class: 'btn bg-custom-red text-white px-20 hover:bg-custom-red hover:opacity-50' %>
    </div>
  </div>
</main>
