<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <%= render 'shared/search', q: @q, url: plans_path %>
  <h1 class='text-accent-blue font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= t('.sub_title1') %></h1>
  <div class="mb-10 md:grid md:grid-cols-2 md:gap-4">
    <% if @new_plans.present? %>
      <% @new_plans.each do |plan| %>
        <%= render 'plans/plan', plan: plan %>
      <% end %>
    <% else %>
      <p class='pt-4 pb-5 mb-5 mx-auto text-center'><%= t('.no_plans') %></p>
    <% end %>
  </div>
  <h1 class='text-accent-blue font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= t('.sub_title2') %></h1>
  <div class="mb-10 md:grid md:grid-cols-2 md:gap-4">
    <% if @new_plans.present? %>
      <% @plans.each do |plan| %>
        <%= render 'plans/plan', plan: plan %>
      <% end %>
    <% else %>
      <p class='pt-4 pb-5 mb-5 mx-auto text-center'><%= t('.no_plans') %></p>
    <% end %>
  </div>
</main>
