<header class='py-0 px-5 my-0 mx-auto max-w-screen-xl'>
  <div class='flex justify-between py-5 px-0'>
    <%= link_to root_path do %>
      <h1 class='m-0 font-black text-xl'><%= t('.title') %></h1>
    <% end %>
    <div class='flex'>
      <%= link_to user_session_path, class: 'mr-12' do %>
        <div class='cursor-pointer sm:hidden'>
          <i class='fa-solid fa-right-to-bracket fa-xl'></i>
        </div>
      <% end %>
      <div id='open' class='cursor-pointer sm:hidden'>
        <i class='fa-solid fa-bars fa-xl'></i>
      </div>
    </div>
    <div id='close' class='cursor-pointer hidden z-30 sm:hidden' style='width: 28px; height: 28px;'>
      <i class='fa-solid fa-xmark fa-xl absolute top-5 right-5'></i>
    </div>
    <div class='hidden sm:block'>
      <nav>
        <ul class='flex space-x-4 text-sm leading-8'>
          <li><%= link_to t('.plans_index'), plans_path %></li>
          <li><%= link_to t('.post_menu'), new_plan_path %></li>
          <li>
            <%= link_to new_user_registration_path do %>
              <%= t('.new_account') %>
            <% end %>
          </li>
          <li>
            <%= link_to user_session_path do %>
              <%= t('.sign_in') %>
            <% end %>
          </li>
          <li>
            <%= link_to 'https://tripot-share.fly.dev', target: '_blank' do %>
              <span class='block'><%= t('shared.header.make_a_plan') %></span><span class='text-xs block'><%= t('shared.header.attention') %></span>
            <% end %>
          </li>
          <li><%= link_to t('.usage'), usage_path %></li>
        </ul>
      </nav>
    </div>
    <div class='block fixed inset-0 bg-white text-center z-20 hidden' id='menu'>
      <nav>
        <ul>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('.hm_post_menu'), new_plan_path %></li>
          <li class='mt-6 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('plans.index.title'), plans_path %></li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'>
            <%= link_to 'https://tripot-share.fly.dev', target: '_blank' do %>
              <%= t('.make_a_plan') %><br><span class='text-xs'><%= t('.attention') %></span>
            <% end %>
          </li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'>
            <%= link_to new_user_registration_path do %>
              <%= t('devise.registrations.new.title') %>
            <% end %>
          </li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'>
            <%= link_to user_session_path do %>
              <%= t('devise.sessions.new.sign_in') %>
            <% end %>
          </li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('static_pages.usage.title'), usage_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>