<header class='py-0 px-5 my-0 mx-auto max-w-screen-xl'>
  <div class='flex justify-between py-5 px-0'>
    <%= link_to root_path do %>
      <h1 class='m-0 font-black text-xl'><%= t('.title') %></h1>
    <% end %>
    <div class='flex'>
      <%= link_to profile_path, class: 'mr-12' do %>
        <div class='cursor-pointer sm:hidden'>
          <% if current_user.profile_image&.avatar&.attached? %>
            <%= image_tag(current_user.profile_image.avatar, class: 'w-7 h-7 rounded-full object-cover') %>
          <% else %>
            <%= image_tag('sample.jpeg', class: 'w-7 h-7 rounded-full object-cover') %>
          <% end %>
        </div>
      <% end %>
      <%= link_to new_plan_path, class: 'mr-12' do %>
        <div class='cursor-pointer sm:hidden'>
          <i class="fa-regular fa-paper-plane fa-lg"></i>
        </div>
      <% end %>
      <div id='open' class='cursor-pointer sm:hidden'>
        <i class='fa-solid fa-bars fa-xl'></i>
      </div>
    </div>
    <div id='close' class='cursor-pointer hidden z-30 sm:hidden' style='width: 28px; height: 28px;'>
      <i class='fa-solid fa-xmark fa-xl absolute top-5 right-5'></i>
    </div>
    <div class='hidden sm:block'>
      <nav>
        <ul class='flex space-x-4 text-sm leading-8'>
          <li>
          <%= link_to profile_path do %>
            <div class='flex'>
              <% if current_user.profile_image&.avatar&.attached? %>
                <%= image_tag current_user.profile_image.avatar, class: 'my-0 mx-auto w-8 h-8 rounded-full object-cover' %>
              <% else %>
                <%= image_tag('sample.jpeg', class: 'my-0 mx-auto w-8 h-8 rounded-full object-cover') %>
              <% end %>
              <span class='pl-1'><%= current_user.name %></span>
            </div>
          <% end %> 
          </li>
          <li><%= link_to t('.post_menu'), new_plan_path %></li>
          <li><%= link_to t('.my_recommends'), my_recommends_plans_path %></li>
          <li><%= link_to t('.plans_index'), plans_path %></li>
          <li><%= link_to t('.my_bookmarks'), bookmarks_plans_path %></li>
          <li>
            <%= link_to 'https://tripot-share.com/', target: '_blank' do %>
              <span class='block'><%= t('.make_a_plan') %></span><span class='text-xs block'><%= t('.attention') %></span>
            <% end %>
          </li>
          <li><%= link_to t('.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %></li>
        </ul>
      </nav>
    </div>
    <div class='block fixed inset-0 bg-white h-screen text-center z-20 hidden' id='menu'>
      <nav>
        <ul>
          <li class='mt-6 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'>
          <%= link_to profile_path do %>
            <% if current_user.profile_image&.avatar&.attached? %>
              <%= image_tag(current_user.profile_image.avatar, class: 'my-0 mx-auto w-16 h-16 rounded-full object-cover') %>
            <% else %>
              <%= image_tag('sample.jpeg', class: 'my-0 mx-auto w-16 h-16 rounded-full object-cover') %>
            <% end %>
              <span><%= current_user.name %></span>
          <% end %> 
          </li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('.hm_post_menu'), new_plan_path %></li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('plans.my_recommends.title'), my_recommends_plans_path %></li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('plans.index.title'), plans_path %></li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('plans.bookmarks.title'), bookmarks_plans_path %></li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'>
            <%= link_to 'https://tripot-share.com/', target: '_blank' do %>
              <%= t('.hm_make_a_plan') %><br><span class='text-xs'><%= t('.attention') %></span>
            <% end %>
          </li>
          <li class='mt-8 translate-y-4 transition-opacity transition-transform animate-tracking-in-expand-fwd-bottom'><%= link_to t('devise.sessions.new.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>