<%= form_with model: @plan do |f| %>
  <div class='pt-10 sm:mx-32'>
    <%= f.label :title %>
    <label class='input flex items-center gap-2 bg-white'>
      <%= f.text_field :title, class: 'w-full', placeholder: t('.title_placeholder') %>
    </label>
  </div>

  <div class='pt-10 sm:mx-32'>
    <%= f.label :thumbnail %>
    <div class='flex'>
      <%= f.file_field :thumbnail, direct_upload: true, class: 'w-full file-input border-none custom-file-input bg-white' %>
    </div>
  </div>
  <div class='sm:mx-32'>
    <% if plan.thumbnail.present? %>
      <p><%= t('.current_image') %></p>
      <div>
        <%= image_tag plan.thumbnail, class: 'w-32 h-32 rounded-lg object-cover' %>
      </div>
    <% end %>
  </div>

  <div class='pt-10 mb-10 sm:mx-32'>
    <%= f.label :body %>
    <label class='flex w-full'>
      <%= f.text_area :body, class:'textarea h-24 w-full resize-none text-base bg-white', placeholder: t('.body_placeholder') %>
    </label>
  </div>

  <div class='border-t border-gray-600 sm:mx-32 opacity-25 border-dotted'>
  </div>

  <h2 class='text-main-orange font-bold pt-3 mt-5 mb-0 mx-auto text-xl sm:text-center'><%= t('.title') %></h2>
  <div id='spot-fields-template' style='display: none'>
    <%= f.fields_for :spots, Spot.new, child_index: 'new_spot' do |spot_fields| %>
      <%= render 'spot_fields', f: spot_fields %>
    <% end %>
  </div>
    <%= f.fields_for :spots do |spot_fields| %>
      <%= render 'edit_spot_fields', f: spot_fields %>
    <% end %>
  <div id='spots'></div>
  <div class='text-center mt-10' id='add-spot'>
    <i class="fa-solid fa-circle-plus fa-4x cursor-pointer" style="color: #3b98ff;"></i>
  </div>

  <div class='pt-10 my-20 text-center'>
    <button class='btn bg-accent-blue text-white px-20 hover:bg-accent-blue hover:opacity-50'>
      <%= f.submit t('.button') %>
    </button>
  </div>
<% end %>