<div class='pt-10 sm:mx-32'>
  <%= f.label :store_name %>
  <label class='input flex items-center gap-2'>
    <%= f.text_field :store_name %>
  </label>
</div>

<div class='pt-10 sm:mx-32'>
  <%= f.label :introduction %>
  <label class='flex'>
  <%= f.text_area :introduction, class:'textarea h-24 w-full resize-none text-base' %>
  </label>
</div>

<div class='pt-10 sm:mx-32'>
  <%= f.label :address %>
  <label class='input flex items-center gap-2'>
    <%= f.text_field :address %>
  </label>
</div>

<div class='pt-10 sm:mx-32'>
  <%= f.label :site_url %>
  <label class='input  flex items-center gap-2'>
    <%= f.url_field :site_url %>
  </label>
</div>
