<div class='spot-fields'>
  <%= f.hidden_field :_destroy %>
  <div class='pt-10 sm:mx-32'>
    <%= f.label :store_name %>
    <label class='input flex items-center gap-2 bg-white'>
      <%= f.text_field :store_name, id: 'store', class:'w-full', placeholder: t('.store_name_placeholder'), autocomplete: 'off' %>
    </label>
  </div>

  <div class='pt-10 sm:mx-32'>
    <%= f.label :introduction %>
    <label class='flex'>
    <%= f.text_area :introduction, class:'textarea h-24 w-full resize-none text-base bg-white', placeholder: t('.introduction_placeholder') %>
    </label>
  </div>

  <div class='pt-10 sm:mx-32'>
    <details class="collapse collapse-arrow">
      <summary class="collapse-title font-bold font-medium">その他の入力情報を見る</summary>
      <div class="collapse-content">
        <p class='pt-10 text-custom-red'>※ 施設名を入力すると自動で反映されます</p>
        <div class='pt-10'>
          <%= f.label :address %>
          <label class='input flex items-center gap-2 bg-white'>
            <%= f.text_field :address, id: 'address', class:'w-full' %>
          </label>
        </div>

        <div class='pt-10'>
          <%= f.label :opening_hours %>
          <label class='input flex items-center gap-2 bg-white'>
            <%= f.text_field :opening_hours, id: 'opening', class:'w-full' %>
          </label>
        </div>

        <div class='pt-10'>
          <%= f.label :phone_number %>
          <label class='input flex items-center gap-2 bg-white'>
            <%= f.text_field :phone_number, id: 'phone', class:'w-full' %>
          </label>
        </div>

        <div class='pt-10'>
          <%= f.label :site_url %>
          <label class='input flex items-center gap-2'>
            <%= f.text_field :site_url, id: 'url', class:'w-full bg-base-200', readonly: true %>
          </label>
        </div>
      </div>
    </details>
  </div>

  <div class='cursor-pointer remove-spot pt-10 sm:mx-32 text-right'>
    <i class='fa-solid fa-trash-can fa-lg ml-5' style='color: #ed7b7b;'></i>
  </div>
</div>
