<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <%= render 'shared/search', q: @q, url: plans_path %>
  <h1 class='text-accent-blue font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= t('.title') %></h1>
  <% if @plans.present? %>
  <div class="mb-10 md:grid md:grid-cols-2 md:gap-4 lg:grid lg:grid-cols-3">
    <% if @search_plans %>
      <% if @search_plans.present? %>
        <%= render @search_plans %>
      <% else %>
        <p class='pt-4 pb-5 mb-5 mx-auto text-center'>検索に一致するプランがありませんでした。<br>キーワードを変更して再度検索してください。 </p>
      <% end %>
    <% else %>
      <%= render @plans %>
    <% end %>
  </div>
  <% else %>
    <p class='pt-4 pb-5 mb-5 mx-auto text-center'><%= t('.no_plans') %></p>
  <% end %>
</main>
