<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <label class='input input-bordered flex items-center gap-2 mt-6 mb-6 sm:mx-32'>
    <input type='text' class='grow' placeholder='検索ワード' />
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 16 16'
      fill='currentColor'
      class='h-4 w-4 opacity-70'>
      <path
        fill-rule='evenodd'
        d='M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z'
        clip-rule='evenodd' />
    </svg>
  </label>
  <div class='mb-5 mx-5'>
    <h1 class='text-main-orange font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= @plan.title %></h1>
    <div>
      <% if @plan.thumbnail.present? %>
        <%= image_tag @plan.thumbnail, class: 'w-100 h-50 rounded-lg' %>
      <% else %>
        <%= image_tag('sample.jpeg', class: 'w-100 h-50 rounded-lg') %>
      <% end %>
    </div>
    <p class='pt-4 pb-5 mb-5 mx-auto'><%= @plan.body %></p>
    <% @plan.spots.each do |spot| %>
      <%= render spot %>
    <% end %>
  </div>
</main>