<main class='py-0 px-5 my-0 mx-auto max-w-screen-xl h-full z-10'>
  <%= render 'shared/search', q: @q, url: plans_path %>
  <div class='mb-5 mx-5'>
    <% if user_signed_in? && current_user.own?(@plan) %>
      <div class="text-right mb-5">
        <%= link_to "https://twitter.com/share?url=#{ plan_url(@plan) }&text=【おすすめの旅スポットを投稿しました！！】%0a%0a#{ @plan.title }", target: '_blank' do %>
          <i class='fa-brands fa-square-x-twitter fa-lg'></i>
        <% end %>
        <%= link_to edit_plan_path(@plan) do %>
          <i class='fa-solid fa-pen-to-square fa-lg ml-5' style='color: #3d98ff;'></i>
        <% end %>
        <%= link_to plan_path(@plan), data: { turbo_method: :delete, turbo_confirm: t('.deleting_confirmation') } do %>
          <i class='fa-solid fa-trash-can fa-lg ml-5' style='color: #ed7b7b;'></i>
        <% end %>
      </div>
    <% end %>
    <h1 class='text-main-orange font-bold pt-4 pb-5 mb-5 mx-auto text-center text-xl'><%= @plan.title %></h1>
    <div>
      <% if @plan.thumbnail.present? %>
        <%= image_tag @plan.thumbnail, class: 'w-100 h-50 rounded-lg' %>
      <% else %>
        <%= image_tag('sample.jpeg', class: 'w-100 h-50 rounded-lg') %>
      <% end %>
    </div>
    <p class='pt-4 pb-5 mb-5 mx-auto'><%= @plan.body %></p>
    <% @plan.spots.order(:id).each do |spot| %>
      <%= render spot %>
    <% end %>
  </div>
  <div class='pt-10 mb-20 text-center'>
    <%= link_to t('.return'), plans_path, class: 'btn bg-accent-blue text-white px-20 hover:bg-accent-blue hover:opacity-50' %>
  </div>
</main>