<!DOCTYPE html>
<html>
  <head>
    <title>旅つなぎ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <script async
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"] %>&callback=initialize&libraries=places&v=weekly" defer></script>
  </head>

  <body class='font-kiwi bg-base-orange text-gray-600 tracking-widest'>
  <% if user_signed_in? %>
    <%= render 'shared/header' %>
  <% else %>
    <%= render 'shared/before_login_header' %>
  <% end %>
  <%= render 'shared/flash_message' %>
    <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
