<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="旅つなぎ" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= image_url('tabitsunagiogp.png') %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@karaageblue" />
    <meta name="twitter:title" content="旅つなぎ" />
    <meta name="twitter:description" content="最高の旅スポットを探す！夢の旅リレー" />
    <meta name="twitter:image" content="<%= image_url('tabitsunagiogp.png') %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google Tag Manager -->
    <script nonce="<%= @nonce %>">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WX7Q4SN9');</script>
    <!-- End Google Tag Manager -->

    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com 'nonce-<%= @nonce %>'">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", nonce: @nonce %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", nonce: @nonce %>
    <%= favicon_link_tag('tabitsunagif.svg') %>

    <script nonce="<%= @nonce %>" async
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["GOOGLEMAPS_API_KEY"] %>&callback=initialize&libraries=places&v=weekly" defer></script>
    
        <!-- Google tag (gtag.js) -->
    <script nonce="<%= @nonce %>" async src="https://www.googletagmanager.com/gtag/js?id=G-119Y04LP59"></script>
    <script nonce="<%= @nonce %>">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-119Y04LP59');
    </script>
  </head>

  <body class='font-kiwi bg-base-orange text-gray-600 tracking-widest'>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WX7Q4SN9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
      <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
